
.nav{
    position: fixed;  /* Stays at the top when you scroll */
    top:0;
    left:0;
    width: 100%;
    display :flex;
    justify-content: space-between;  /* Logo on left, links on right */
    align-items: center;
    padding : 15px 50px;
    background-color: rgba(0, 0, 0, 0.9); /* Dark semi-transparent background */
    z-index: 1000;   /* Ensures it stays above */
    backdrop-filter: blur(10px);  
    box-sizing: border-box;
}

.logo{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;;
}

.nav-links{
    list-style: none;
    display: flex;
    margin : 0;
    padding : 0;
    justify-content: center; /* This will center links horizontally */
    margin-top: 20px;        /* Adds a bit of space below your tagline */
    gap: 40px;
}
.nav-links li{
    margin-left: 30px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s; /* Smooth transition for hover effect, the color changes within 0.3 seconds instead of an instant change */
    border: 1px solid #d37fcf;
    padding: 8px 20px;
    border-radius: 20px;
    
}
.nav-links a:hover{
   
    background: #d37fcf;
    color: white;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    
 
    background-color: #050a0f; 

   
    background-image: 
        radial-gradient(at 0% 0%, rgba(20, 150, 160, 0.15) 0px, transparent 50%), /* Teal Glow */
        radial-gradient(at 100% 100%, rgba(211, 127, 207, 0.1) 0px, transparent 50%); /* Pink Glow */
        
    color: white;
    display: flex;
    flex-direction: column;
}


body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("carbon-fibre.png"); 
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
}


h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: linear-gradient(to right, #1496a0, #d37fcf); /* Teal to Pink gradient */
     -webkit-background-clip: text;  /* This cuts the gradient background into the shape of the letters. */
    -webkit-text-fill-color: transparent; /*makes the letter centers empty to only see the gradient behind them.*/
    filter: drop-shadow(0 0 10px rgba(211, 127, 207, 0.3));
}


.hero-section {
    text-align: center;
    margin-top: 30vh;
    padding: 20px;
    position: relative;
   
}

@media (max-width : 768px){
   
    h2{
        font-size : 2rem;
        letter-spacing: 2px;
    }
/* stacking the nav bar vertically on smaller screens and adding padding for better spacing */
    .nav{
        flex-direction : column; 
        padding : 15px 20px;
        height : auto
    }

    .nav-links{
        margin-top:15px;
        flex-wrap : wrap;
        justify-content: center;
        gap : 20px;
    }

    .nav-links li{
        margin-left: 0;
    }

    .nav-links a{
        padding : 5px 12px;
         font-size : 0.8 em;
    }

    .hero-section{
        margin-top : 20vh
    }

    .hero-section p {
        font-size: 1rem; 
        padding : 0.10px; /* prevents text from touching the edges */
    }
}